@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-gray-100;
  }
}

.app-menu-link {
  position: relative;
}

.app-menu-link::before, .app-menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5651e5;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.app-menu-link::before {
  top: -3px;
  transform-origin: left;
}

.app-menu-link::after {
  bottom: -3px;
  transform-origin: right;
}

.app-menu-link:hover::before,
.app-menu-link:hover::after,
.link-active::before,
.link-active::after {
  transform: scaleX(1);
}
